/* app css stylesheet */


body {
    padding-top: 120px;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}


.navbar {
    margin-bottom: 0px;
    min-height:  120px;
    background:rgba(255,255,255,0.9);
}

.navbar-nav {
    margin-top: 30px;
    margin-left: 50px;
}

.nav > li > a {
    font-size: 20px;

}

.header {
    height : 650px;
    background: url('../img/summer1.jpg') no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header h1 {
    padding :0px;
    padding-top: 20px;
    margin: 0px;
    font-size:  120px;
    color : #af2d41;
    font-family: 'Lobster', Georgia, Times, serif;
}

.header h2 {
    padding :0px;
    padding-top: 20px;
    margin: 0px;
    font-size:  50px;
    color : #af2d41 ;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.location-image {
    background-image: url('../img/zuidpark.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
}

.content {
    min-height:  300px;

}


.footer {
    padding-top: 50px;
    margin-top : 0px;
    height:  400px;
    background: #8e3e90;
    color: #ffffff;

}

.footer a {
    color : #ffffff;
}

.sprekers {
    margin-top : 50px;
    margin-bottom: 50px;

}

.bio {
    margin-top : 50px;
    margin-bottom: 50px;
    font-size: 18px;

}


.programma ul li{
    font-size : 24px;
}

p.programma {
    font-size : 20px;
}

.programma {
    margin-bottom:  100px;
}

.scrollto {
    cursor: pointer;
}

.rounded{
    margin-top : 50px;
    text-decoration:none;
    border-radius: 30px 30px 30px 30px;
    font-weight: bold;
    display:inline-block;
    color : #f0f0f0;
    padding : 15px;
    padding-left : 30px;
    padding-right : 30px;
    background-color : #ff0000;
}

.rounded-small{
    margin-top : 5px;
    text-decoration:none;
    border-radius: 30px 30px 30px 30px;
    font-weight: bold;
    display:inline-block;
    color : #f0f0f0;
    padding : 5px;
    padding-left : 20px;
    padding-right : 20px;
    background-color : #ff0000;
    cursor : pointer

}


.description {
    height: 50px;
}

.purple {
    background-color: #8e3e90;
}

.yellow {
    background-color: #e0dd00;
}

.orange {
    background-color: #f39200;
}


.paars {

    background-color:  #562f78;
}


.vspace {
    height :100px;
}



.btn-registreer {
    margin-right : 50px;
    color : white;
    background-color: #af2d41;
    border : 0px;
    font-size :20px;
}

.img-bio {
    height : 225px;
    width : 225px;
}