<div class="footer">
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-3">
            <h4>Onze cellen</h4>

            <p>
                <a>Beheer – Intensief, innovatief beheer</a></br>
                <a>Core – No-nonsense applicatieontwikkeling en -onderhoud</a></br>
                <a>Fit! – Het complexe simpel maken</a></br>
                <a>Improve – Lean en Agile</a></br>
                <a>Spark! – Inspiratie, Innovatie</a></br>
                <a>Touch – Serious Enterprise Apps</a></br>
            </p>
        </div>
        <div class="col-lg-3">
            <h4>Over Trivento</h4>
            <p>
                De uitdaging van de professionals van Trivento is ambitieus. Geen idee is ons te gek.
                We helpen graag ideeën te verrijken en te vertalen naar werkende software.
                Uitgebreide kennis van lean management, agile scrum, mobile, inspiratietechnieken,
                Java, Scala, high productivity platforms en beheeromgevingen, in combinatie met een ondernemende mind set
                zorgen voor het beste resultaat. De klantvraag staat daarbij altijd centraal.
            </p>
        </div>
        <div class="col-lg-3">
            <h4>Full Circle Innovation</h4>
            <p>
                Trivento:</br>
                inspireert - verandering en vernieuwing</br>
                innoveert - gerealiseerde ideeën in korte tijd</br>
                implementeert - marktlancering en business integratie</br>
                presteert - rendement op investering</br>
                Lees verder over de Full Circle Innovatie.</br>
            </p>
        </div>
        <div class="col-lg-1">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 ">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 ">
            <img class="center-block" src="img/angularjs.png" width="75" alt="angularjs"/>
        </div>
    </div>

</div>