        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="img/logo-trivento.gif" height="100"/></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a class="scrollto" ng-click="scrollTo('sprekers')">Sprekers</a></li>
                        <li><a class="scrollto" ng-click="scrollTo('programma')">Programma</a></li>
                        <li><a class="scrollto" ng-click="scrollTo('locatie')">Locatie</a></li>

                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>



      <div class="header text-center">
            <h1>Trivento Summercamp</h1>
            <h2>Reactive with AngularJS & TypeSafe</h2>
            <h2>vrijdag 29 augustus</h2>
      </div>



    <div class="container content "  id="sprekers">
          <div class="row">
              <div class="col-lg-12">
                <h1 class="rounded purple">Sprekers</a></h1>
              </div>
          </div>

          <div class="row sprekers" >
              <div class="col-lg-2">
              </div>
              <div class="col-lg-4">

                  <div  class="text-center" >
                      <img  src="img/heiko.jpg" alt="Heiko Seeberger" class="img-circle center-block"/>
                      <h2>Heiko Seeberger</h2>
                      <p>afadf adk</p>

                  </div>


              </div>

              <div class="col-lg-4">

                  <div  class="text-center" >
                      <img  src="img/pawel.jpg" alt="Pawel Kozlowski" class="img-circle center-block" width="225"/>
                      <h2>Pawel Kozlowski</h2>
                      <p>Open source hacker, AngularJS book author, <br/>AngularUI lead developer</p>

                      <!--Pawel Kozlowski has over 15 years of professional experience in web development and was fortunate enough to work with variety of web technologies, languages, and platforms. He is not afraid of hacking both at client side and server side and always searches for the most productive tools and processes.

                      Pawel strongly believes in free, open source software. He has been very committed in the AngularJS project and also is very active in the AngularJS community. He also contributes to Angular UI – the companion suite to the AngularJS framework, where he focuses on the Twitter's Bootstrap directives for AngularJS.

                      When not coding, Pawel spreads a good word about AngularJS at various conferences and meetups. -->
                  </div>


              </div>
              <div class="col-lg-2">
              </div>

          </div>


        <div class="row " >
            <div class="col-lg-2">
            </div>
            <div class="col-lg-4">

                <div  class="text-center" >
                    <img  src="img/heiko.jpg" alt="Jeroen Gordijn" class="img-circle center-block"/>
                    <h2>Jeroen Gordijn</h2>
                    <p>afadf adk</p>

                </div>


            </div>

            <div class="col-lg-4">

                <div  class="text-center" >
                    <img  src="img/henk.jpg" alt="Henk Jurriens" class="img-circle center-block" width="225"/>
                    <h2>Henk Jurriens</h2>
                    <p>AngularJS en Politie</p>

                </div>


            </div>
            <div class="col-lg-2">
            </div>

        </div>
     </div>




    <div id="programma"  class="container content">
           <div class="row">
                <div class="col-lg-12">
                    <h1 class="rounded yellow">Programma</h1>
                </div>

            </div>

           <div class="row">
               <div class="col-lg-2">
               </div>

                  <div class="col-lg-8 programma">


                      <h2>Vrijdag 29 augustus</h2>

                      <ul>
                          <li>12:30 Welkom</li>
                          <li>13:00 Introduction Scala</li>
                          <li>14:00 Pauze</li>
                          <li>14:15 Iets met AngularJS</li>
                          <li>15:30 AngularJS en de Politie</li>
                          <li>16:30 Scala bla bla</li>
                          <li>17:00 BBQ</li>
                      </ul>


                  </div>

               <div class="col-lg-2">
               </div>


           </div>

            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>

        </div>


    <div id="locatie"  class="container content">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="rounded orange">Locatie</h1>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-2">
                </div>

                <div class="col-lg-8">

                </div>

                <div class="col-lg-2">
                </div>


            </div>

            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>

        </div>

    <div class="location-image">
        <div class="col-lg-12">


        </div>
    </div>



        <ng-include src="'partials/footer.html'" />




  </div>
</div>
