<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="img/logo-trivento.gif" height="100"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Sprekers</a></li>
                <li><a href="#">Workshops</a></li>
                <li><a href="#">Programma</a></li>

            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>



      <div class="header">

      </div>


      <div class="container content">
          <div class="row">
              <div class="col-lg-12">
                  <h1>Sprekers</h1>


              </div>
          </div>
      </div>


      <div class="container content">
        <div class="row">
            <div class="col-lg-12">
                <h1>Workshops</h1>


            </div>
        </div>
      </div>


      <div class="container content">
          <div class="row">
              <div class="col-lg-12">
                  <h1>Programma</h1>


              </div>
          </div>
      </div>


      <div class="location">

      </div>

      <div class="footer">
          <div class="row">
              <div class="col-lg-2">
              </div>
              <div class="col-lg-3">
                  <h4>Onze cellen</h4>

                  <p>
                  <a>Beheer – Intensief, innovatief beheer</a></br>
                  <a>Core – No-nonsense applicatieontwikkeling en -onderhoud</a></br>
                  <a>Fit! – Het complexe simpel maken</a></br>
                  <a>Improve – Lean en Agile</a></br>
                  <a>Spark! – Inspiratie, Innovatie</a></br>
                  <a>Touch – Serious Enterprise Apps</a></br>
                  </p>
              </div>
              <div class="col-lg-3">
                  <h4>Over Trivento</h4>
                  <p>
                  De uitdaging van de professionals van Trivento is ambitieus. Geen idee is ons te gek.
                  We helpen graag ideeën te verrijken en te vertalen naar werkende software.
                  Uitgebreide kennis van lean management, agile scrum, mobile, inspiratietechnieken,
                  Java, Scala, high productivity platforms en beheeromgevingen, in combinatie met een ondernemende mind set
                  zorgen voor het beste resultaat. De klantvraag staat daarbij altijd centraal.
                  </p>
              </div>
              <div class="col-lg-3">
                  <h4>Full Circle Innovation</h4>
                  <p>
                      Trivento:</br>
                      inspireert - verandering en vernieuwing</br>
                      innoveert - gerealiseerde ideeën in korte tijd</br>
                      implementeert - marktlancering en business integratie</br>
                      presteert - rendement op investering</br>
                      Lees verder over de Full Circle Innovatie.</br>
                  </p>
              </div>
              <div class="col-lg-1">
              </div>
          </div>

      </div>


</div>




  </div>
</div>
